.city-pick{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  .full-width{
    width: 100%;
  }
  button{
    height: 55px;
    margin-bottom: 21px;
    margin-left: 22px;
    width: 180px;
  }
}

