<main
  class="main-container"
  [ngStyle]="{
    'background-image':
      'url(./../../assets/backgrounds/' + backgroundImg + '.webp)'
  }"
>
  <section class="main-section">
    <city-selector (newCityName)="changeCity($event)"></city-selector>
    @if (weather$ | async; as weather) {

    <div class="details-temp">
      <current-city-temperature
        [weather]="weather.currentCityWeather"
      ></current-city-temperature>
      <mat-divider class="divider"></mat-divider>

      <seven-day-forecast
        [weatherForecast]="weather.forecastWeather"
      ></seven-day-forecast>
    </div>
    }@else {
    <div class="error-name">
      <p>
        Sorry but city <strong>'{{ city }}'</strong> no found.
      </p>
    </div>
    }
  </section>
</main>
